.gradle/
build/
target/
bin/
dependency-reduced-pom.xml
gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

# Eclipse Project Files

.classpath
.project
.settings/

# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
